@value darkGreyBasic from '../../../css/colors.css';
@value whiteBasic from '../../../css/colors.css';
@value greyBasic from '../../../css/colors.css';
@value pinkBasic from '../../../css/colors.css';
@value greenBasic from '../../../css/colors.css';

.confirm{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
}

.content{
  width: 470px;
  height: 230px;
  background: whiteBasic;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: darkGreyBasic;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 48px;
  background: greyBasic;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'Spectral Semibold';
  font-size: 20px;
  letter-spacing: .5px;
}

.closeBtn{
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.body{
  display: flex;
  justify-content: space-between;
  padding: 5px 48px;
}

.messages{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-content: space-evenly;
  font-family: 'Spectral Regular';
  letter-spacing: .5px;
}

.mainMessage{
  font-size: 18px;
}

.commonMessage{
  font-size: 14px;
}

.graphic{
  width: 150px;
  height: 90px;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  padding: 0 48px;
}

.leaveBtn, .stayBtn{
  padding: 10px 25px;
  border: 1px solid pinkBasic;
  border-radius: 20px;
  font-size: 12px;
  padding: 8px 35px;
  color: pinkBasic;
  cursor: pointer;
  transition: all .3s ease-in;
}

.leaveBtn{
  color: whiteBasic;
  background: pinkBasic;
}

.leaveBtn:hover{
  color: white;
  background: greenBasic;
  border: 1px solid greenBasic;
}

.stayBtn:hover{
  color: greenBasic;
  border: 1px solid greenBasic;
}
